<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

    <div id="app">

        <label>Please enter your name: </label>
        <input v-model="name">
        <p v-if="name">Thanks, your name is {{ name }}</p>
        <p v-else>Awaiting user input</p>

        <button v-on:click="clearName">Clear name</button>
    </div>

    <script>
        const{ createApp, ref} = Vue 
        createApp({
            setup() {
                
                const name = ref('')
                // name is declared as a reactive 
                //reference initialized to an empty string ('')

                function clearName() {
                    name.value = ''

                }
                return {
                    name,
                    clearName
                    //The name and clearName function
                    // are returned so they can be used in the template.
                }
            }
        }).mount("#app")
    </script>

</body>
</html>